name: Build Kernel

on:
  push:
    branches:
      - H3CKED
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up permissions
        run: chmod +x *.sh

      - name: Build Kernel
        run: ./build.sh
